/*
  FRAMEWORK STYLES
 -------------------------------------------------------------------------------------------------------------------- */
@import "./scss/funcs";

// VARS
@import "./scss/vars";

// MIXINS AND BASE
@import "./scss/mixins";
@import "./scss/base";
@import "./scss/color";

// MODULES
@import "./scss/modules/edges";
@import "./scss/modules/container";
@import "./scss/modules/display";
@import "./scss/modules/centered";
@import "./scss/modules/button";
@import "./scss/modules/form";
@import "./scss/modules/heading";

// MODULES UTILS
@import "./scss/modules/shadow";
@import "./scss/modules/rounded";

// FONT
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap&amp;subset=cyrillic");

/*
  MAIN STYLES
 -------------------------------------------------------------------------------------------------------------------- */
* {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

/*
  HEADER
 -------------------------------------------------------------------------------------------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 4rem 0;
  background: #fff;
  line-height: 0;
  transition: padding .3s Linear;
  &__logo {
    display: inline-block;
    height: 40px;
    transition: height .3s Linear;
    & svg {
      height: inherit;
    }

  }
  @include for-sm() {
    padding: 3rem 0;
    &__logo {
      height: 30px;
    }
  }
}

.main-menu {
  float: right;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2.5em;
  }
  &__item {
    display: inline-block;
    position: relative;
    &:hover .main-menu__link {
      color: #FF0849;
    }
    &:hover .main-menu-sub__list {
      visibility: visible;
      top: 100%;
      opacity: 1;
      transition: all .15s Linear;
    }
  }
  &__link {
    display: block;
    padding: 0 .5rem;
    color: #111113;
    font-size: .85em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: inherit;
    transition: color .15s Linear;
  }
  &-sub__list {
    position: absolute;
    top: 50%;
    left: -.5rem;
    list-style: none;
    padding: .5rem .5rem 1rem;
    margin: 0;
    min-width: 250px;
    background: #fff;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .1);
    border-radius: .25rem;
    visibility: hidden;
    opacity: 0;
    transition: all .15s Linear;
    &:before {
      content: '';
      position: absolute;
      top: calc(-.5rem - 10px);
      left: .5rem;
      border: 10px Solid transparent;
      border-bottom: 10px Solid #fff;
    }
  }
  &-sub__item {
    display: block;
    position: relative;
    border-bottom: 1px Solid rgba(0, 0, 0, .03);
    &:last-child {
      border: none;
    }
  }
  &-sub__link {
    display: block;
    padding: .5rem;
    color: #535365;
    font-size: .85em;
    text-decoration: none;
    transition: color .15s Linear;
    &:hover {
      color: #FF0849;
    }
  }
}
@include for-sm() {
  .main-menu {
    float: none;
    position: absolute;
    top: 0;
    left: -120%;
    z-index: 100;
    padding: 3rem 2rem;
    height: 105vh;
    width: 70%;
    background: #fff;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .1);
    transition: left .15s Linear;
    &__item {
      display: block;
    }
  }
  .menu-button {
    display: block;
  }
  .menu-overlay {
    display: none;
    opacity: 0;
    transition: opacity .15s Linear;
  }
  .menu-open {
    overflow: hidden;
    & .main-menu {
      left: 0;
    }
    .menu-button {
      &__line {;
        &:nth-child(2) {
          width: .75rem;
          left: 50%;
          background: #FF0849;
        }
      }
    }
    & .menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 99;
      height: 105vh;
      opacity: 1;
      background: rgba(17, 24, 47, 0.5);
    }
  }
}

.menu-button {
  display: none;
  float: right;
  border: none;
  padding: 0 0 0 3rem;
  margin: 0;
  height: 40px;
  background: transparent;
  line-height: 0;
  &__line {
    display: block;
    position: relative;
    margin: 1rem 0;
    width: 6rem;
    height: 2px;
    background: #000;
    transition: all .15s Linear;
    &:nth-child(2) {
      width: 3rem;
      left: 0;
      background: #000;
    }
  }
  @include for-sm() {
    display: block;
    height: 30px;
  }
}





/*
  MAIN
 -------------------------------------------------------------------------------------------------------------------- */
// SECTIONS
.section {
  padding: 10rem 0;
  &-header {
    &__title {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1;
      margin: 2rem 0 0;
      text-transform: uppercase;
      color: #222325;
    }
    &__subtitle {
      font-size: .8rem;
      font-weight: 500;
      text-transform: uppercase;
      color: #7881a5;
    }
  }
}

/*
  FOOTER
 -------------------------------------------------------------------------------------------------------------------- */
.footer {
  height: 400px;
  background: #f5f5f8;
}