// =Semantic Font
$font-text: 'Montserrat', sans-serif !important;
$font-heading: 'Montserrat', sans-serif !important;
$font-monospace: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// =Unit
$unit: 4px;

// =Body Text
$body-size: 16px;
$body-line: 1.5;

// =DarkTheme
$dark-class: null;